html,
#root {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0;
    box-sizing: border-box;
    // background-image: url(https://images.unsplash.com/photo-1532452119098-a3650b3c46d3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    // background-size: cover;
    #fp-nav ul li a span,
    .fp-slidesNav ul li a span {
        background: #ed4141 !important;
    }
}
.App {
    // .navigation {
    //     width: 100%;
    //     height: 100%;
    //     border: 2px solid white;
    //     border-radius: 20px;
    //     display: flex;
    //     justify-content: space-between;
    //     padding-top: 10px;
    //     font-family: "monospace";
    //     font-weight: bold;
    //     position: sticky;
    //     .dropdown {
    //         color: white;
    //         font-weight: bold;
    //         border: 2px solid white;
    //         border-radius: 20px;
    //         margin-bottom: 10px;
    //         margin-left: 20px;
    //         transition-duration: 1s;
    //         &:hover {
    //             background-color: white; /* Green */
    //             color: black;
    //             font-size: 20px;
    //         }
    //     }
    //     input {
    //         padding: 10px;
    //         margin-bottom: 10px;
    //         border-radius: 20px;
    //     }
    //     .searchbar {
    //         border-radius: 20px;
    //         margin-right: 20px;
    //         font-family: "monospace";
    //         margin-top: 5px;
    //     }
    // }
    // .main {
    //     width: 100%;
    //     height: 100%;
    //     display: flex;
    //     justify-content: center;
    //     margin-top: 250px;
    //     opacity: 5;
    //     .event-container {
    //         display: flex;
    //         justify-content: center;
    //         align-items: center;

    //         .event {
    //             display: flex;
    //             flex-direction: column;
    //             justify-content: center;
    //             align-items: center;
    //             color: red;
    //             font-size: 40px;
    //             margin-left: 20px;
    //         }
    //     }
    //     .btn-start {
    //         margin-top: 100px;
    //         border-radius: 25px;
    //         font-size: 32px;
    //         background-color: black;
    //         color: white;
    //         font-family: "monospace";
    //         transition-duration: 1s;
    //         box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
    //             0 6px 20px 0 rgba(0, 0, 0, 0.19);
    //         opacity: 5;
    //         &:hover {
    //             background-color: white; /* Green */
    //             color: black;
    //             font-size: 50px;
    //         }
    //     }
    // }
    #fullpage {
        width: 100%;
        height: 100%;
        // background-color: crimson;
        .section {
            // width: 100%;
            // height: 100%;
            div {
                // width: 100%;
                background-color: grey;
                p {
                    // width: 100%;
                    // height: 100%;
                    // background-color: crimson;
                }

                .center {
                    // background-color: blue;
                    line-height: 1.15;
                    font-family: "Roboto Slab";
                    font-style: normal;
                    font-weight: 300;
                    color: #ffffff;
                    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                    text-align: center;
                    button {
                        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                        line-height: 1.15;
                        margin: 0;
                        overflow: visible;
                        text-transform: none;
                        -webkit-appearance: button;
                        font-size: 2.0833vh;
                        font-family: "Roboto Slab";
                        font-weight: 400;
                        background: none;
                        padding: 10px 40px;
                        border-radius: 30px;
                        cursor: pointer;
                        margin-top: 1vh;
                        border: 1px solid #ffffff;
                        color: #ffffff;
                    }
                    .arrow {
                        line-height: 1.15;
                        font-family: "Roboto Slab";
                        font-style: normal;
                        font-weight: 300;
                        color: #ffffff;
                        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                        text-align: center;
                        margin-top: 1vh;
                        padding-bottom: 1vh;
                        .bt-down {
                            line-height: 1.15;
                            font-family: "Roboto Slab";
                            font-weight: 300;
                            color: #ffffff;
                            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                            text-align: center;
                            border: solid #ffffff;
                            border-width: 0 2px 2px 0;
                            display: inline-block;
                            padding: 10px;
                            transform: rotate(45deg);
                            -webkit-transform: rotate(45deg);
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}
