/* 
    Created on : 2019-03
    Author     : Florian
*/
// import styles of Swantje and Florian
// @import "./App\ Flo.scss";
// @import "./App\ Swantje.scss";

// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");

/* FONT STYLES */

.center {
    text-align: center;
}
.bold {
    font-weight: 700;
}
.reg {
    font-weight: 400;
}
.light {
    font-weight: 300;
}

.fs50 {
    font-size: 25px;
}
.fs32 {
    font-size: 23px;
}
.fs30 {
    font-size: 20px;
}
.fs24 {
    font-size: 18px;
}
.fs18 {
    font-size: 14px;
}
.fs16 {
    font-size: 16px;
}
.fs14 {
    font-size: 14px;
}

/* END FONT STYLES */

// COLORS
$pirate-black: #353837;
$matisse: #204796;
$dodger-blue: #4670b6;
$portage: #89a0d2;
$bright-turquoise: #74ccd6;
$aqua-forest: #5ca083;
$alabaster: #fcfdfd;
$cosmic: #79365e;
$deep-blush: #df7b9d;
$sunset-orange: #ef4540;
$casablanca: #f2ab42;
$background-black: #222423;
// End Colors

/* DARK Theme for NAV */
#fp-nav {
    display: none;
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: $alabaster !important;
}

#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span {
    background: $alabaster;
}
#fp-nav ul li a span {
    background: $alabaster;
    border: $alabaster solid 1px;
}
#fp-nav ul li:hover a span {
    background: $alabaster;
}
#fp-nav ul li .fp-tooltip {
    color: $alabaster;
}
/* END DARK Theme for NAV */

/* General Styles */
p,
h1,
h2,
h3,
h4 {
    margin: 0;
}
p {
    margin: 2.6041vh 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    color: $alabaster;
    background-color: $pirate-black;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
}

.del {
    display: none;
}

.bgSunset-orange {
    background-color: $sunset-orange;
}

/* END General Styles */
// Intro
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2.6041vh;
    img {
        height: 10vh;
        width: auto;
        // height: 12vh;
        // width: auto;
    }
    .exit {
        color: $sunset-orange;
        font-size: 2.5em;
    }

    .settings {
        font-size: 2.5em;
    }
}

.logo {
    img {
        height: 20vh;
        width: auto;
        // height: 12vh;
        // width: auto;
    }
}

.introBox {
    margin-bottom: 2vh;
    // margin: 4vh 0px;
    // padding-bottom: 2vh;
    // border: 1px solid #faa866;
    p {
        margin: 1vh 0;
    }
}

.introText {
    padding: 0 20px;
    h2 {
        line-height: 125%;
    }
}

.introButton {
    padding-top: 35px;
    .arrow {
        width: 50px;
        height: 50px;
        margin: 0px auto;
        position: relative;
        i {
            position: relative;
            left: 0;
            top: 0;
            border: solid $alabaster;
            border-width: 0 4px 4px 0;
            display: inline-block;
            padding: 15px;
        }
    }
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    animation: blink 5s infinite, move 1s infinite;
    -webkit-animation: blink 5s infinite, move 1s infinite;
    -moz-animation: blink 5s infinite, move 1s infinite;
}

@keyframes blink {
    0% {
        border-color: $dodger-blue;
    }
    25% {
        border-color: $aqua-forest;
    }
    50% {
        border-color: $casablanca;
    }
    75% {
        border-color: $sunset-orange;
    }
    100% {
        border-color: $dodger-blue;
    }
}
@-webkit-keyframes blink {
    0% {
        border-color: #348c9b;
    }
    25% {
        border-color: #a6d6b0;
    }
    50% {
        border-color: #faa866;
    }
    75% {
        border-color: #f15b4c;
    }
    100% {
        border-color: #348c9b;
    }
}
@-moz-keyframes blink {
    0% {
        border-color: #348c9b;
    }
    25% {
        border-color: #a6d6b0;
    }
    50% {
        border-color: #faa866;
    }
    75% {
        border-color: #f15b4c;
    }
    100% {
        border-color: #348c9b;
    }
}
@keyframes move {
    0% {
        transform: translate(0px, 0px) rotate(45deg);
        animation-timing-function: ease-in;
    }
    100% {
        transform: translate(0px, 25px) rotate(45deg);
    }
}
@-webkit-keyframes move {
    0% {
        transform: translate(0px, 0px) rotate(45deg);
        animation-timing-function: ease-in;
    }
    100% {
        transform: translate(0px, 25px) rotate(45deg);
    }
}
@-moz-keyframes move {
    0% {
        transform: translate(0px, 0px) rotate(45deg);
        animation-timing-function: ease-in;
    }
    100% {
        transform: translate(0px, 25px) rotate(45deg);
    }
}
// END Intro

// Sections
// .custom-input {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     padding-top: 30px;
//     min-width: 180px;
//     width: 25.5vw;
//     margin-bottom: 1.5625vw;
//     input {
//         padding: 15px 20px;
//         border: none;
//         color: #27245e;
//         border-radius: 10px;
//         width: 100%;
//         box-sizing: border-box;
//     }
// }

.logo-section-wrapper {
    display: flex;
    // flex-direction: row;
    // justify-content: center;
    // align-items: center;
    padding-bottom: 15px;
    padding-top: 15px;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.logo-section-wrapper > h3 {
    margin: 0;
    padding-bottom: 15px;

    // font-family: "Oswald";
    // font-weight: 200;
    // font-size: 1.1rem;
    // color: #fcfdfd;
    // letter-spacing: 1.2px;
    // font-style: italic;
}

.search-form-input-border {
    position: relative;
    font-family: "FontAwesome";
    border-radius: 99px;
    // border: 1px solid black;
    // box-shadow: 2px 1.5px #89a0d2;
}

.search-form-input {
    font-family: "Roboto", sans-serif;
    // font-weight: 400;
    // font-size: medium;
    color: $alabaster;
    padding: 8px 12px;
    border-radius: 99px;

    border-style: none;
    background-color: $background-black;
    width: 60vw;
}

//puzzling needs to be reworked
.event-search .search-form-input {
    font-family: "Roboto", sans-serif;
    // font-weight: 400;
    // font-size: medium;
    color: $alabaster;
    padding: 8px 12px;
    border-top-left-radius: 99px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 99px;

    border-style: none;
    background-color: $background-black;
    width: 60vw;
}

.search-icon {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    color: $pirate-black;
}

// .search-form-input:focus {
//     outline: #89a0d2;
// }

.section button {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    background: none;
    padding: 10px 40px;
    border-radius: 99px;
    cursor: pointer;
    margin-top: 1vh;
    // color: $alabaster;
}

//bad puzzling needs to be reworked
.logo-section-wrapper button {
    margin-top: 0;
    padding: 7px 20px;
    border-top-left-radius: 0px;
    border-top-right-radius: 99px;
    border-bottom-right-radius: 99px;
    border-bottom-left-radius: 0px;
}

// LIST-WRAPPER FOR SEARCH-RESULT-LIST-ITEM PUZZLE PIECE //

.result-list-wrap {
    width: 100%;
    // for height conditional rendering for vh regarding amount of results
    height: 100%;
    // background-color: $background-black;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}

.result-list-item {
    width: 100%;
    display: flex;
    justify-content: flex-start;

    border: 2px solid $alabaster;
    border-left-width: 0;
    border-top-width: 0;
    // border-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 99px;
    border-bottom-right-radius: 99px;
    border-bottom-left-radius: 5px;

    padding-top: 8px;
    padding-right: 50px;
    padding-bottom: 8px;
    padding-left: 10px;

    // box-shadow: 2px 2px 2px black;
    background: $pirate-black;

    box-sizing: border-box;

    margin: 5px 0;
}

.result-image {
    width: 70px;
    height: 70px;

    background-size: contain;
}

.ghost {
    background-image: url("../assets/HeyDjGhost-03.png");
}

.event-01 {
    background-image: url("../assets/eventPic-04.jpg");
}

.event-02 {
    background-image: url("../assets/eventPic-02.jpg");
}

.event-03 {
    background-image: url("../assets/eventPic-01.png");
}

.result-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    // text-align: right;
    padding-left: 15px;
}

.result-info-container > p {
    font-size: 1rem;
    letter-spacing: 0.1px;
}

// .result-info-container > hr {
//     border: none;
//     height: 0.5px;
//     /* Set the hr color */
//     color: $alabaster; /* old IE */
//     background-color: $alabaster; /* Modern Browsers */
// }

.result-info-container > * {
    margin: 0;
}

// @media (min-width: 768px) {
//     .result-image {
//         width: 90px;
//         height: 90px;
//     }
//     .result-list-item {
//         width: 60%;
//         border-radius: 60px 5px 5px 60px;
//     }
//     .result-list-item:hover {
//         width: 62%;
//     }
//     .result-info-container > p {
//         font-size: 1.2rem;
//         letter-spacing: 0.2px;
//     }
// }

// /* Medium devices (desktops, 992px and up) */
// @media (min-width: 992px) {
//     .result-image {
//         width: 100px;
//         height: 100px;
//     }
//     .result-info-container > p {
//         font-size: 1.4rem;
//         line-height: 1.6;
//         padding: 1.5px;
//         letter-spacing: 0.2px;
//     }
// }

// /* Large devices (large desktops, 1200px and up) */
// @media (min-width: 1200px) {
// }

.white {
    border: 1px solid $alabaster;
    color: $alabaster;
}

.white:hover {
    background-color: $alabaster;
    color: $pirate-black;
}

.red {
    border: 1px solid $sunset-orange;
    color: $sunset-orange;
}

.red:hover {
    background-color: $sunset-orange;
    color: $pirate-black;
}

.black {
    background-color: $alabaster !important;
    border: 1px solid $alabaster;
    color: $background-black;
}

.black:hover {
    border: 1px solid $sunset-orange;
    color: $sunset-orange;
}

.section .picture {
    height: 35vh;
    width: auto;
}

.section .bt-down {
    border: solid $alabaster;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 10px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    cursor: pointer;
}

.section .arrow {
    margin-top: 1vh;
    padding-bottom: 1vh;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    a:link,
    a:visited {
        color: $alabaster;
        text-decoration: none;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #fp-nav {
        display: block;
    }
    .fs50 {
        font-size: 6.5104vh;
    }
    .fs32 {
        font-size: 4.1666vh;
    }
    .fs30 {
        font-size: 3.9062vh;
    }
    .fs24 {
        font-size: 3.125vh;
    }
    .fs18 {
        font-size: 2.3437vh;
    }
    .fs16 {
        font-size: 2.0833vh;
    }
    .fs14 {
        font-size: 1.5625vh;
    }
    .container {
        .logo {
            img {
                height: 12vh;
                width: auto;
            }
        }
        .introBox {
            margin-bottom: 4vh;
            // border: 1px solid #faa866;
            border: 1px solid $casablanca;
        }
    }
    .section .picture {
        height: 40vh;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .search-form-input {
        width: 35vw;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container {
        width: 70%;
    }
}
